{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
<a class="btn btn-warning text center mt-5 d-flex justify-content-center" href="{{ path('admin_utilisateurs') }}">Les Rôles Utilisateurs</a>
</div>
{% endblock %}
