{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Ceci est la page d'accueil !</h1>
        <p class="lead">Vos identifiants administrateurs sont les suivants : <br> <em>Catherinedelapereix@gmail.com</em> <br> Votre mot de passe : <br> <em>Catherine</em></p>
        <hr class="my-4">
        <p class="text-uppercase">En créant un compte vous deviendrais automatiquement utilisateurs</p>
        <a class="btn btn-primary btn-lg float-right" href="" role="button">S'inscrire</a>
      </div>
</div>
{% endblock %}
